body {
    margin: 0;
    background-color: black;
    color: black;

}
.container {
    width: 80%;
    margin: 0 auto;
    
}
header {
    background: darkgray;
    background-color: darkgray;
    height: 70px;
    display: inline-flex;
}

.logo{
    width: 25%; 
    height: 90%;
    float: left;
}
nav {
    float: right;
    
}

nav ul {
    margin: 0;
    padding: 0 ;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #000;
}

nav a::before {

    content:'';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0px;
    width: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover:before {
width: 100%
}

.first {
    background-color: gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
#about{
    text-decoration: underline;
    color: black;
    float: left;
    border: black solid 2px;
}

.info {
    text-align: left;
}

.me {
    width: 25%;
    height: 25%;
    float: right;
    display:inline-flex;
}

.technologies {
    text-align: left;
    text-decoration: underline;
    text-align: center;
    
}

.contact {
    display: flex;
    color: black;
    background-color: white;
}

.html {
    display: inline-flex;
    width: 500px;
    height: 500px;
}
.javascript {
    display: inline-flex;
    border: black solid 1px;
    width: 500px;
    height: 500px;
}


.css3 {
    display: inline-flex;
float: center;
width: 500px;
height: 500px;

}